/* stylelint-disable rule-empty-line-before */

.img-banner {
  padding: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/src/assets/urus.png');
  background-size: contain;
  width: 60%;
}


.img-ca {
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('/src/assets/abs.png'); */
  background-size: contain;
}

.ctn-del {
  height: 100vh;
  width: 100%;
  height: 100vh;
}

.ctn-words {
  padding: 0 1.5rem;
}

@media(max-width: 768px){

  .car {
  
  }
  .banner {
    display: flex;
    flex-direction: column;
  }

  .img-ca {
    width: 80%;
  }

  .text-feature {
    width: 99%;
  }

  .showcar {
    flex-direction: column;
    margin: 0 !important;
  }

  .ctn-show {
    width: 100% !important;
  }

  .ctn-words {
    padding: 0 !important;
  }

  .ctn-favorite {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
 
}
