.App {
  overflow-x: hidden;
  display: flex;
}

.fixed-navbar-container {
  flex: 0 0 auto;
  /* width: 200px; Adjust the width as per your requirement */
}

.content-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

/* .The-body {
  margin-left: 100px !important;
} */
