
* {
  margin: 0;
  padding: 0;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.login-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url(../src/assets/carwp1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.regis-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url(../src/assets/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-login {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.227);
}

.ctn-form {
  margin: 0 auto;
}
